<div class="content">
    <table id="messagesDataTable" border="1">
        <tr>
            <th></th>
            <th>Text</th>
        </tr>
        <tr ng-repeat="message in messages">
            <td><a href="" ng-click="repostMessage(message)">Repost</a></td>
            <td>{{message.text}}</td>
            <td ng-repeat="attach in message.attachments">
                <img ng-src="{{getAttachPreview(attach)}}" />
            </td>
        </tr>
    </table>
    <span ng-show="isListFull">Больше постов нет</span>
    <button ng-click="getNextPage()" ng-disabled="isListFull">Ещё постов</button>
</div>