<div class="content">
    <table id="messagesDataTable" border="1">
        <tr>
            <th></th>
            <th>Text</th>
        </tr>
        <tr ng-repeat="message in messages">
            <td><button ng-click="repostMessage(message)">Repost</button></td>
            <td>{{message.text}}</td>
            <td ng-repeat="attach in message.attachments">
                <img ng-src="{{getAttachPreview(attach)}}" />
            </td>
        </tr>
    </table>
    <button ng-click="getNextPage()" ng-disabled="isListFull">Ещё постов</button>
    <span>Загружено постов {{messages.length}}</span>|<span ng-show="isListFull" style="color: red;">Больше постов нет</span><br />
</div>